.tester_theme_auto_window {
	z-index:9999;
	position:fixed;
	top:50%;
	left:50%;
	width:460px;
	min-height:160px;
	margin:-280px 0 0 -230px;
	border-radius:5px;
	border:solid 2px #666;
	background-color:#fff;
	display:none;
	box-shadow: 0 0 10px #666;
}
.tester_theme_popover_mask {
	z-index: 9998;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.4;
	filter:alpha(opacity=40);
	display:none
}
.tester_theme_poptit {
	border-bottom:1px solid #ddd;
	padding:12px;
	position: relative;
}
.tester_theme_poptit .close {
	float:right;
	color:#999;
	padding:5px;
	margin:-2px -5px -5px;
	font:bold 14px/14px simsun;
	text-shadow:0 1px 0 #ddd
}
.tester_theme_poptit .close:hover {
	color:#444;
}
.tester_dform {
	padding:20px 60px 40px;
	text-align: center;
}
.tester_dform .ipt_error {
	background-color:#FFFFCC;
	border-color:#FFCC66
}
.tester_dform span{
    margin-right:100px;
}
.tester_contact_form input[type="text"]:focus + .form_hint {display: inline;}
.tester_contact_form input[type="text"]:required:valid + .form_hint {background: #28921f;}
.tester_contact_form input[type="text"]:required:valid + .form_hint::before {color:#28921f;}

.tester_contact_form ul {
    width:100%;
    font-size:14px;
    font-weight: bold;
    list-style-type:none;
	list-style-position:outside;
	word-wrap: break-word;
	margin:0px;
	padding:0px;
}
.tester_contact_form li{
	padding:12px;
	border-bottom:1px solid #eee;
	position:relative;
	word-wrap: break-word;
}
.tester_contact_form li:last-child {
    margin-bottom:10px;
	border-bottom:1px solid #777;
}
.tester_wait_body_view{
	width:100%;
	text-align:center;
	background:yellow;
}