local:
    domain: localhost
    appSettings:
        gzip: True
        cookie_secret: ZDsnoETzKXQAGaYdkL5gEmGeJKDuYh7EQnp8JdTP1o/Vo=
        debug: True

prod:
    domain: www.webtester.com
    appSettings:
        gzip: True
        cookie_secret: ZDsnoETzKXQAGaYdkL5gEmGeJKDuYh7EQnp8JdTP1o/Vo=
        debug: True