local:
    appSettings:
        gzip: True
        xsrf_cookies: True
        cookie_secret: ZDsnoETzKXQAGaYdkL5gEmGeJKDuYh7EQnp8JdTP1o/Vo=
        debug: True

prod:
    appSettings:
        gzip: True
        xsrf_cookies: True
        cookie_secret: ZDsnoETzKXQAGaYdkL5gEmGeJKDuYh7EQnp8JdTP1o/Vo=
        debug: True