{% extends "base.html" %}

{% block body %}
<div>
    <div class="test_form">
        <div>
            <form class="contact_form" action="#" method="post" name="contact_form">
                {% module xsrf_form_html() %}
                <label for="domain_select">Test Domain:</label>
                <select id="domain_select">
                    {% for domain_val in domain_values %}
                    <option value="{{domain_val.id}}">{{domain_val.domain}}</option>
                    {% end %}
                </select>
                <a id="add_domain">Add</a>
                <span class="required_notification">* 必填项</span>
                <br>
                <label for="queue_select">Test Queue:</label>
                <select id="queue_select">
                    {% for queue_val in queue_values %}
                    <option value="{{queue_val.id}}">{{queue_val.queueName}}</option>
                    {% end %}
                </select>
                <a id="add_queue">Add</a>
                <br>
                <label for="urlPath">Url Path:</label>
                <input type="text" name="urlPath" id="urlPath" placeholder="/login" required/><br>
                <label for="sleepTime">Sleep Time:</label>
                <input style="width:15px" type="text" name="sleepTime" id="sleepTime" placeholder="2" required/>&nbsp;s
                <label style="margin-left:100px;" for="waitClose">Wait Close:</label>
                <input style="width:15px" type="text" name="waitClose" id="waitClose" placeholder="20" required/>&nbsp;s<br>
                <label for="forms">Forms:</label>
                <input id="forms" name="forms" type="checkbox"/>
                <a id="add_tester_form" style="float:right;line-height:35px;">Add Tester</a><hr>
                <div id="add_form_info" style="display:none">
                    <ul class="form_tester">
                        <li>
                            <label>TestName:</label>
                            <input type="text" name="testName" placeholder="测试帐户不存在"/>
                            <a class="add_element">Add Element</a>
                        </li>
                        <li>
                            <label style="width:80px">Form Type:</label>
                            <select name="formType">
                                <option value="1">text</option>
                                <option value="2">radio</option>
                                <option value="3">select</option>
                                <option value="4">file</option>
                                <option value="5">checked</option>
                            </select>
                            <label style="margin-left:50px">Form ElName:</label>
                            <input style="width:80px;" type="text" name="formElName" placeholder="loginBy"/>
                            <label style="margin-left:50px">Form ElValue:</label>
                            <input style="width:80px;" type="text" name="formElValue" placeholder="测试用户名"/>
                            <a class="form_delete_form" title="close">-</a>
                        </li>
                    </ul>
                </div>
                <label style="width:400px">Actions:(First action is used to form)</label><a id="add_new_action" style="float:right;line-height:35px;">Add Action</a><hr>
                <div id="add_action_info">
                    <ul class="action_info">
                        <li>
                            <label style="width:50px">El Type:</label>
                            <select name="elType">
                                <option value="1">id</option>
                                <option value="2">name</option>
                                <option value="3">tag</option>
                                <option value="4">value</option>
                                <option value="5">selector</option>
                                <option value="6">css</option>
                            </select>
                            <label style="width:60px;margin-left:80px">El Value:</label>
                            <input type="text" name="elValue" placeholder="login-submit" required/>
                            <label style="width:50px;margin-left:40px">Action:</label>
                            <select name="action_select">
                                <option value="1">click</option>
                                <option value="2">double click</option>
                                <option value="3">right click</option>
                                <option value="4">mouse over</option>
                                <option value="5">mouse out</option>
                                <option value="6">select</option>
                            </select>
                            <a class="action_delete_form" title="close">-</a>
                        </li>
                    </ul>
                </div>
                <button id="submit_tester" class="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<div class="theme-popover" id="create_domain">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" id="domain_close" class="close">×</a>
        <h3>Add Test Domain</h3>
    </div>
    <div class="dform">
        <form class="contact_form" name="domain_form" action="/edit_domain" method="post">
            {% module xsrf_form_html() %}
            <ul>
                <li>
                    <label for="testDomain">TestDomain:</label>
                    <input type="url" name="testDomain" id="testDomain" placeholder="http://www.daqihui.cn" required pattern="(http|https)://.+"/>
                    <span class="form_hint">正确格式为：http://www.daqihui.cn</span>
                    <button class="submit" type="submit">Submit</button>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="theme-popover" id="create_queue">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" id="queue_close" class="close">×</a>
        <h3>Add Test Queue</h3>
    </div>
    <div class="dform">
        <form class="contact_form" name="queue_form" action="/edit_queue" method="post">
            {% module xsrf_form_html() %}
            <ul>
                <li>
                    <label for="testQueue">TestQueue:</label>
                    <input type="text" name="testQueue" id="testQueue" placeholder="注册流程各种测试" required/>
                    <button class="submit" type="submit">Submit</button>
                </li>
            </ul>
        </form>
    </div>
</div>
<div class="theme-popover-mask"></div>
{% end %}

{% block bottom %}
<script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function(jqXHR, settings) {
            type = settings.type
            if (type != 'GET' && type != 'HEAD' && type != 'OPTIONS') {
                var pattern = /(.+; *)?_xsrf *= *([^;" ]+)/;
                var xsrf = pattern.exec(document.cookie);
                if (xsrf) {
                    jqXHR.setRequestHeader('X-Xsrftoken', xsrf[2]);
                }
            }
    }});

    jQuery(document).ready(function($) {
        form_num = 1;
        action_num = 1;

        $('#add_domain').click(function(){
            $('.theme-popover-mask').fadeIn(100);
            $('#create_domain').slideDown(200);
        })
        $('#domain_close').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('#create_domain').slideUp(200);
        })

        $('#add_queue').click(function(){
            $('.theme-popover-mask').fadeIn(100);
            $('#create_queue').slideDown(200);
        })
        $('#queue_close').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('#create_queue').slideUp(200);
        })

        $("#forms").click(function(){
            if(this.checked){
                $("#add_form_info").css("display", "block");
            }else{
                $("#add_form_info").css("display", "none");
            }
        })

        $("#add_tester_form").click(function(){
            if($("#forms").is(":checked")){
                $(".form_tester:lt(1)").clone(true).appendTo("#add_form_info");
            }
        })

        $(".add_element").click(function(){
            $(this).parent().next().clone(true).appendTo($(this).parent().parent());
        })

        $("#add_new_action").click(function(){
            $(".action_info:lt(1)").clone(true).appendTo("#add_action_info");
        })

        $(".form_delete_form").click(function(){
            action_div = $(this).parent().parent();
            if(action_div.children().length <= 2){
                alert("Can't delete again!")
                return false;
            }

            $(this).parent().remove();
        })

        $(".action_delete_form").click(function(){
            action_div = $(this).parent().parent().parent();
            if(action_div.children().length <= 1){
                alert("Can't delete again!")
                return false;
            }

            $(this).parent().parent().remove();
        })

        $("[name=formType]").change(function(){
            if($(this).val() == 5){
                var parent_obj = $(this).parent();
                if(parent_obj.children("[name=formElValue]")[0].type != "checkbox"){
                    parent_obj.children("[name=formElValue]").remove()
                    $("<input type='checkbox' name='formElValue'/>").appendTo(parent_obj);
                }
            }else{
                var parent_obj = $(this).parent();
                if(parent_obj.children("[name=formElValue]")[0].type != "text"){
                    parent_obj.children("[name=formElValue]").remove()
                    $("<input style='width:80px;' type='text' name='formElValue' placeholder='测试用户名'/>").appendTo(parent_obj);
                }
            }
        })

        $("#submit_tester").click(function(){
            var forms;
            if($("#forms").is(":checked")){
                forms = new Array();
                $("input[name='testName']").each(
                    function(){
                        if($(this).val() == ""){
                            alert("testName can't be Null")
                        }
                        var form = new Object();
                        form.testName = $(this).val()
                        form.params = new Array();
                        $(this).parent().parent().children(":gt(0)").each(
                            function(){
                                var param = new Object();
                                param["formType"] = $(this).children("select")[0].value;
                                param["formElName"] = $(this).children("input")[0].value;

                                if($(this).children("input")[1].type == "checkbox"){
                                    param["formElValue"] = $(this).children("input")[1].checked;
                                }else{
                                    param["formElValue"] = $(this).children("input")[1].value;
                                }

                                form.params.push(param);
                            }
                        )
                        forms.push(form)
                    }
                )
            }

            var action_list= new Array();
            $(".action_info").each(
                function(){
                    li_child = $(this).children("li");

                    action_obj = new Object();
                    action_obj.elType = li_child.children("[name=elType]").val();
                    action_obj.elValue = li_child.children("[name=elValue]").val();
                    action_obj.action = li_child.children("[name=action_select]").val();
                    action_list.push(action_obj);
                }
            )

            tester_val = {
                queueId: $("#queue_select").val(),
                urlPath: $("#urlPath").val(),
                sleepTime: $("#sleepTime").val(),
                waitClose: $("#waitClose").val(),
                forms: forms,
                actionList: action_list
            }

            $.ajax({
                type : 'POST',
                contentType : 'application/json',
                url : 'add_tester',
                data: JSON.stringify(tester_val),
                dataType : 'text',
                async : false,
                success : function(data) {
                    alert("success")
                },
                error : function() {
                    alert("Error")
                }
            });

            return false;
        })
    })
</script>
{% end %}
