{% extends "base.html" %}

{% block body %}
<div>
    <div>
        <label for="domain_select">Test Domain:</label>
        <select id="domain_select">
            {% for domain_val in domain_values %}
            <option value="{{domain_val.id}}">{{domain_val.domain}}</option>
            {% end %}
        </select>
        <label style="margin-left:200px" for="queue_select">Test Queue:</label>
        <select id="queue_select">
            {% for queue_val in queue_values %}
            {% if params.get("queueId") is not None and params.get("queueId") == str(queue_val.id) %}
            <option value="{{queue_val.id}}" selected="selected">{{queue_val.queueName}}</option>
            {% else %}
            <option value="{{queue_val.id}}">{{queue_val.queueName}}</option>
            {% end %}
            {% end %}
        </select>
        <br>
        <table id="tester_table" style="width:100%;margin-top:20px;text-align:center">
            <tr style="background:#eeeedc;font-size:14px">
                <td>all<input type="checkbox"/></td>
                <td>Test Num</td>
                <td>Url Path</td>
                <td>Action List</td>
                <td>Form Tests</td>
                <td>Param Num</td>
                <td>Sleep Time</td>
                <td>Detail</td>
            </tr>
            {% for action_val in action_values%}
            <tr>
                <td><input type="checkbox"/></td>
                <td>{{action_val.testNum}}</td>
                <td>{{action_val.urlPath}}</td>
                <td>{{len(json_dict(action_val.actionList)) if action_val.actionList is not None else 0}}</td>
                {% if action_val.forms is not None and len(json_dict(action_val.forms)) > 0 %}
                <td>{{len(json_dict(action_val.forms))}}</td>
                <td>{{len(json_dict(action_val.forms)[0]["params"])}}</td>
                {% else %}
                <td>0</td>
                <td>0</td>
                {% end %}
                <td>{{action_val.sleepTime}}&nbsp;s</td>
                <td><a forms-detail="{{action_val.forms}}" actions-detail="{{action_val.actionList}}" class="show_detail_action">detail</a></td>
            </tr>
            {% end %}
        </table>
        <hr>
        <button id="submit_test">Tes Queue</button>
    </div>
</div>
<div class="theme_auto_window" id="create_queue">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" class="close">×</a>
        <h3>Action Detail</h3>
    </div>
    <div class="dform" style="text-align:left">
        <form class="contact_form" name="queue_form" action="/edit_queue" method="post">
            <h4>Forms:</h4><hr>
            <div id="add_form_info"></div>
            <h4>Actions:</h4><hr>
            <div id="add_action_info"></div>
        </form>
    </div>
</div>
<div class="theme-popover-mask"></div>
{% end %}

{% block bottom %}
<script type="text/javascript">
    $.ajaxSetup({
        beforeSend: function(jqXHR, settings) {
            type = settings.type
            if (type != 'GET' && type != 'HEAD' && type != 'OPTIONS') {
                var pattern = /(.+; *)?_xsrf *= *([^;" ]+)/;
                var xsrf = pattern.exec(document.cookie);
                if (xsrf) {
                    jqXHR.setRequestHeader('X-Xsrftoken', xsrf[2]);
                }
            }
    }});

    jQuery(document).ready(function($) {
        FORM_TYPE = {"1": "text", "2": "radio", "3": "select", "4": "file", "5": "checked"}
        EL_TYPE = {"1": "id", "2": "name", "3": "tag", "4": "value", "5": "selector", "6": "css"}
        ACTION_TYPE = {"1": "click", "2": "double click", "3": "right click", "4": "mouse over", "5": "mouse out", "6": "select"}

        $("#queue_select").change(function(){
            location.href = "http://localhost:8888/?queueId="+$(this).val();
        })

        $('.show_detail_action').click(function(){
            form_list = $(this).attr("forms-detail");
            action_list = $(this).attr("actions-detail");
            forms_obj = $("#add_form_info");
            actions_obj = $("#add_action_info");

            forms_obj.empty();
            actions_obj.empty();
            forms = null;
            if(form_list != "None"){
                forms = JSON.parse(form_list);
            }

            for(i in forms){
                ul = $("<ul></ul>");
                $("<li><span>TestName:"+forms[i].testName+"</span></li>").appendTo(ul);

                for(n in forms[i].params){
                    var li = $("<li></li>");
                    var form_type = FORM_TYPE[forms[i].params[n].formType+""]
                    $("<span>Form Type:"+form_type+"</span><span>Form ElName:"+forms[i].params[n].formElName+"</span>"+
                      "<span>Form ElValue:"+forms[i].params[n].formElValue+"</span>").appendTo(li);

                    li.appendTo(ul);
                }
                ul.appendTo(forms_obj);
            }

            actions = null;
            if(action_list != "None"){
                actions = JSON.parse(action_list);
            }

            action_ul = $("<ul></ul>");
            for(i in actions){
                var li = $("<li></li>");
                var elType = EL_TYPE[actions[i].elType+""]
                var action = ACTION_TYPE[actions[i].action+""]
                $("<span>El Type:"+elType+"</span><span>El Value:"+actions[i].elValue+"</span>"+
                  "<span>Form Action:"+action+"</span>").appendTo(li);

                li.appendTo(action_ul);

            }
            action_ul.appendTo(actions_obj);

            $('.theme-popover-mask').fadeIn(100);
            $('#create_queue').slideDown(200);
        })

        $('.close').click(function(){
            $('.theme-popover-mask').fadeOut(100);
            $('#create_queue').slideUp(200);
        })

        $("#submit_test").click(function(){
            var domainId = $("#domain_select").val();
            var queueId = $("#queue_select").val();
            var actionIds = []
            $("#tester_table input:gt(0)").each(
                function(){
                    if(this.checked){
                        actionIds.push($(this).parent().next().text());
                    }
                }
            );

            params = {
                domainId: domainId,
                queueId: queueId,
                actionIds: actionIds.toString()
            }

            if(actionIds.length == 0){
                alert("Please select test action.")
                return false;
            }

            $.get("/api/tester_deal", params);
        })
    })
</script>
{% end %}
